@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  border-bottom: 1.6rem solid #edc84b;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* container */
.container {
  width: 100rem;
  height: 40rem;
  border: 1px solid red;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .steps .step-item {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.container .steps .active {
  background-color: blue;
  color: white;
}

.information {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

/* buttons */
.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 1rem 3rem;
  background-color: blue;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}
